SYNTROPY_AGENT_API_KEY: "CHANGEME"
SYNTROPY_USERNAME: "CHANGEME"
SYNTROPY_PASSWORD: "CHANGEME"
SYNTROPY_CONTROLLER_URL: "CHANGEME"
POSTGRESQL_PASSWORD: "CHANGEME"
CHAINLINK_USERNAME: "CHANGEME"
CHAINLINK_PASSWORD: "CHANGEME"
CHAINLINK_WALLET_PASSWORD: "CHANGEME"