SYNTROPY_API_KEY: "<SYNTROPY_GENERATED_API_KEY>"

SYNTROPY_PROVIDER_E: ""
SYNTROPY_AGENT_NAME_E: ""

SYNTROPY_PROVIDER_M: ""
SYNTROPY_AGENT_NAME_M: ""

SYNTROPY_PROVIDER_L: ""
SYNTROPY_AGENT_NAME_L: ""

ETH1_NODE_ENDPOINT: "<ETH1_API_KEY>"
VALIDATOR_WALLET_PATH: ""
VALIDATOR_KEYS_PATH: ""
VALIDATOR_DB: ""
PASSWORD: "<VALIDATOR_WALLET_PASSWORD>"
GRAFANA_USERNAME: "<GRAFANA_USERNAME>"
GRAFANA_PASSWORD: "<GRAFANA_PASSWORD>"