SYNTROPY_API_KEY: "<SYNTROPY_GENERATED_API_KEY>"
SYNTROPY_CONTROLLER_URL: ""
SYNTROPY_USERNAME: ""
SYNTROPY_PASSWORD: ""
ETHEREUM_NODE_URL: ""
VALIDATOR_WALLET_PATH: ""
VALIDATOR_KEYS_PATH: ""
VALIDATOR_DB: ""
PASSWORD: "<VALIDATOR_WALLET_PASSWORD>"
GRAFANA_USERNAME: "<GRAFANA_USERNAME>"
GRAFANA_PASSWORD: "<GRAFANA_PASSWORD>"