---
api_key: "" # <=== Syntropy Agent Token
duck_dns_domain: "" <==== Create your own at duckdns.org
htpasswd_user: "user" # <==== Update this
htpasswd_password: "pass" # <==== Update this
htpasswd_credentials: "user:$apr1$3i8sm6ky$KFFqXAVpgNd3qQ.PPeTHX0" #<=== the contents of the file created from your htpasswd
letsencrypt_email: "user@email.com" # <==== your email address to attach to your letsencrypt cert
grafana_login: "user" # <==== Update this
grafana_password: "pass" # <==== Update this
