SYNTROPY_AGENT_API_KEY: "<SYNTROPY_GENERATED_API_KEY>"
SYNTROPY_CONTROLLER_URL: "https://controller-prod-server.syntropystack.com"
SYNTROPY_USERNAME: "<YOUR_SYNTROPY_USERNAME>"
SYNTROPY_PASSWORD: "<YOUR_SYNTROPY_PASSWORD>"
ELROND_VERSION: "v1.1.26" # change these
ELROND_CONFIG_VERSION: "T1.1.26.0"
ELROND_NETWORK_TYPE: "testnet"
NODE_DISPLAY_NAME: "s7n" # this is your display name
GRAFANA_USERNAME: "<GRAFANA_USERNAME>"
GRAFANA_PASSWORD: "<RANDOM_GRAFANA_PASSWORD>"
