certifi==2020.12.5        # via syntropy-sdk
click==7.1.2              # via syntropynac
dataclasses==0.6          # via syntropynac
jinja2==2.11.2            # via -r requirements.in
markupsafe==1.1.1         # via jinja2
python-dateutil==2.8.1    # via syntropy-sdk
pyyaml==5.3.1             # via -r requirements.in, syntropynac
six==1.15.0               # via python-dateutil, syntropy-sdk
syntropy-sdk==0.1.0       # via -r requirements.in, syntropynac
syntropynac==0.1.0        # via -r requirements.in
urllib3==1.26.4           # via syntropy-sdk
